<?xml version="1.0"?>

<robot name="box">
    <link name="base_link">
        <visual>
            <geometry>
                <box size="0.3 0.3 0.7"/>
            </geometry>
            <origin xyz="-0.3 -0.3 0.1" rpy="0 0 0"/>
            <material name="white"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.3 0.3 0.7"/>
            </geometry>
            <origin xyz="-0.3 -0.3 0.1" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="1.0"/>
            <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
        </inertial>
    </link>
    
    <link name="new_link">
        <visual>
            <geometry>
                <box size="0.3 0.3 0.3"/>
            </geometry>
            <origin xyz="0.5 0.5 0.2" rpy="0 0 0"/>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.3 0.3 0.3"/>
            </geometry>
            <origin xyz="0.5 0.5 0.2" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="1.0"/>
            <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
        </inertial>
    </link>
    
    <link name="obstacle1">
        <visual>
            <geometry>
                <box size="0.5 0.5 0.5"/>
            </geometry>
            <origin xyz="1 -0.5 0.2" rpy="0 0 0"/>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.3 0.3 0.3"/>
            </geometry>
            <origin xyz="0.5 0.5 0.2" rpy="0 0 0"/>
        </collision>
        <inertial>
            <mass value="1.0"/>
            <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
        </inertial>
    </link>
    
    <joint name="base_to_new" type="fixed">
        <parent link="base_link"/>
        <child link="new_link"/>
        <child link="obstacle1"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
    
    <gazebo reference="base_link">
        <material>Gazebo/Red</material>
    </gazebo>
    
    <gazebo reference="new_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="obstacle1">
        <material>Gazebo/White</material>
    
    <gazebo>
        <static>true</static>
    </gazebo>
</robot>